
<div class="panel panel-default">
    <div class="panel-body"><table class="table">
      <tr>
        <th>Employee Id</th>
        <td>{{employee.id}}</td>
      </tr>
      <tr>
          <th>Employee name</th>
          <td>{{employee.name}}</td>
        </tr>
        <tr>
            <th>Employee salary</th>
            <td>{{employee.salary}}</td>
          </tr>
          <tr>
              <th>Employee city</th>
              <td>{{employee.city}}</td>
            </tr>
    </table></div>
</div>
 <!-- for the location serviece -->
  <button (click)="goBack()" class="btn btn-warning">Back</button>
